.chat-main
  .main-header
    .header-leftbox
      = @group.name
      %a{:href => "#"}
    .edit-btn 
      = link_to "Edit",edit_group_path(@group) 
  .messages
    = render @messages
    .messages__data
      .message__data__up-info
      .message__data__up-info__talk 
      .message__data__up-info__data 
    .message__text 

  .form
    = form_for [@group, @message],remote:true do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__mask__hidden'
      = f.submit 'Send', class: 'form__mask__submit'
      