.chat-main
  .main-header
    .header-leftbox
      .header-leftbox__group__name
      = @group.name
      .left-header__members
        Member：
        %ul
          -@group.users.each do |user|
            =user.name
    .edit-btn 
      = link_to "Edit",edit_group_path(@group) 
  .messages
    = render @messages

  .form
    = form_for [@group, @message],remote:true do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__mask__hidden'
      = f.submit 'Send', class: 'form__mask__submit'
      